header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 2%;
}

.nav-bar {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-item {
  padding: 5px 1em;
  width: 80px;
  border-right: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.nav-item:last-child {
  border-right: none;
}

.nav-item:hover {
  background: lightgoldenrodyellow;
  margin-top: -3px;
}

.logo {
  height: 2cm;
}

.hero {
  height: 683px;
  background-image: url("https://assets-global.website-files.com/61af164800e38c4f53c60b4e/61dee0038171d0896752d056_hero%20banner%20DM%20centered.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  padding: 5%;
}

.wrapper {
  display: flex;
}

nav {
  float: left;
  width: 20%;
  height: 300px;
}

section {
  border: 1px solid black;
}

article {
  width: 100%;
  background-color: lightgoldenrodyellow;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  text-align: right;
  border: 1px solid black;
  padding: 2%;
}

.message-us {
  display: flex;
}

.column {
  width: 50%;
}

#tampil {
  border: 1px solid black;
  padding: 1%;
}

#kirim {
  width: 80%;
  border: 1px solid black;
}

#banner {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .nav-bar {
    flex-direction: column;
    border: none;
    width: 100%;
  }
  .nav-item {
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
  }
  .nav-item:last-child {
    border-right: 1px solid black;
  }
  .logo {
    margin-bottom: 5%;
  }

  nav,
  article {
    width: 100%;
    height: auto;
  }

  .message-us {
    flex-direction: column;
  }

  .column {
    flex-direction: column;
    width: 100%;
  }
}
